
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;           
}


.form-container {
  width: 100%;
  max-width: 350px;
  padding: 25px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}


h2 {
  margin-bottom: 20px;
  color: #333;
}


label {
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button[type="button"] {
  background-color: #f44336;
  color: white;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

button:hover {
  opacity: 0.9;
}
